.news-caption {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
}
.news-tit-out{
    text-align: center;
}
.news-tit{
    width: 100%;
    font-size: 40px;
    color:#454242;
    text-align: center;
}
.news-line{
    width: 83px;
    height: 2px;
    display: inline-block;
    background-color: #fff100;
}
.news-tit>p:nth-of-type(1){
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #272623;
    margin-bottom: 80px;
}
.news-tit>p:nth-of-type(2){
    width: 100%;
    padding: 0px 20%;
    font-size: 30px;
    color: #4a4646;
    line-height: 40px;
}
.news-pro{
    margin-bottom: 20px;
}
.news-pro>dl>dt>img{
    font-size: 26px;
    text-align: center;
    line-height: 35px;
}
.news-pro>dl>dd{
    font-size: 26px;
    text-align: center;
    line-height: 35px;
}
.news-more{
    text-align: right;
    margin-bottom: 47px;
}
.news-more>a{
    font-size: 30px;
    color: #898989;
}
.news-main{
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
}
.news-main-pic{
    padding: 0px;
}
.news-detail{
    height: 318px;
    overflow: hidden;
}
.news-detail>p{
    font-size: 26px;
    color: #4e4d45;
    text-align: left;
    line-height: 40px;
}

/*新闻资讯列表*/
.list-bg{
    width: 100%;
    background-color: #f6f6f6;
}
.list-content{
    width: 1200px;
    height: auto;
    padding-top: 200px;
    overflow: hidden;
}
.list-nav-a>li>a{
    color: #101010;
    font-size: 18px;
    font-weight: 500;
}
.news-detail>p:nth-of-type(3){
    line-height: 50px;
}
.list-words{
    margin-bottom: 50px;
}
.list-content>nav{
    float: right;
}
.pagination>li>a, .pagination>li>span {
    float: left;
    padding: 6px 20px;
    font-size: 26px;
    margin-left: 10px;
    color: #747474;
    text-decoration: none;
    border: none;
    background-color: transparent;
}
.pagination>li>span{
    display: block;
}

