<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunchao.hsh.dao.HshSelfOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.yunchao.hsh.model.HshSelfOrderDetail" >
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="BIGINT" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_price" property="itemPrice" jdbcType="DECIMAL" />
    <result column="total_count" property="totalCount" jdbcType="DECIMAL" />
    <result column="item_rebate" property="itemRebate" jdbcType="BIGINT" />
    <result column="total_rebate" property="totalRebate" jdbcType="BIGINT" />
    <result column="item_img" property="itemImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      item_id, order_id, num, item_name, item_price, total_count, item_rebate, total_rebate, 
      item_img
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yunchao.hsh.model.HshSelfOrderDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hsh_self_order_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.yunchao.hsh.model.HshSelfOrderDetailExample" >
    delete from hsh_self_order_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunchao.hsh.model.HshSelfOrderDetail" >
    insert into hsh_self_order_detail (item_id, order_id, num, 
      item_name, item_price, total_count, 
      item_rebate, total_rebate, item_img
      )
    values (#{itemId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{num,jdbcType=BIGINT}, 
      #{itemName,jdbcType=VARCHAR}, #{itemPrice,jdbcType=DECIMAL}, #{totalCount,jdbcType=DECIMAL}, 
      #{itemRebate,jdbcType=BIGINT}, #{totalRebate,jdbcType=BIGINT}, #{itemImg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunchao.hsh.model.HshSelfOrderDetail" >
    insert into hsh_self_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemPrice != null" >
        item_price,
      </if>
      <if test="totalCount != null" >
        total_count,
      </if>
      <if test="itemRebate != null" >
        item_rebate,
      </if>
      <if test="totalRebate != null" >
        total_rebate,
      </if>
      <if test="itemImg != null" >
        item_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="num != null" >
        #{num,jdbcType=BIGINT},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        #{itemPrice,jdbcType=DECIMAL},
      </if>
      <if test="totalCount != null" >
        #{totalCount,jdbcType=DECIMAL},
      </if>
      <if test="itemRebate != null" >
        #{itemRebate,jdbcType=BIGINT},
      </if>
      <if test="totalRebate != null" >
        #{totalRebate,jdbcType=BIGINT},
      </if>
      <if test="itemImg != null" >
        #{itemImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunchao.hsh.model.HshSelfOrderDetailExample" resultType="java.lang.Integer" >
    select count(*) from hsh_self_order_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hsh_self_order_detail
    <set >
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.num != null" >
        num = #{record.num,jdbcType=BIGINT},
      </if>
      <if test="record.itemName != null" >
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemPrice != null" >
        item_price = #{record.itemPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.totalCount != null" >
        total_count = #{record.totalCount,jdbcType=DECIMAL},
      </if>
      <if test="record.itemRebate != null" >
        item_rebate = #{record.itemRebate,jdbcType=BIGINT},
      </if>
      <if test="record.totalRebate != null" >
        total_rebate = #{record.totalRebate,jdbcType=BIGINT},
      </if>
      <if test="record.itemImg != null" >
        item_img = #{record.itemImg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hsh_self_order_detail
    set item_id = #{record.itemId,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      num = #{record.num,jdbcType=BIGINT},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      item_price = #{record.itemPrice,jdbcType=DECIMAL},
      total_count = #{record.totalCount,jdbcType=DECIMAL},
      item_rebate = #{record.itemRebate,jdbcType=BIGINT},
      total_rebate = #{record.totalRebate,jdbcType=BIGINT},
      item_img = #{record.itemImg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>