<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunchao.hsh.dao.SupplierTypeMapper" >
  <resultMap id="BaseResultMap" type="com.yunchao.hsh.model.SupplierType" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="SORT" property="sort" javaType="INTEGER"/>
  </resultMap>
<resultMap id="supplierTypeResp" type="com.yunchao.hsh.dto.resp.SupplierTypeResp">

</resultMap>
  <sql id="Base_Column_List" >
    ID,NAME,STATUS,SORT
  </sql>

  <sql id="Base_Column_List_s" >
   s.ID,s.NAME,s.STATUS,s.SORT
  </sql>

  <select id="findById" resultMap="supplierTypeResp" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hsh_supplier_type
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="findByName" resultMap="supplierTypeResp" parameterType="com.yunchao.hsh.model.SupplierType" >
    select
    <include refid="Base_Column_List" />
    from hsh_supplier_type
    where
    <if test="@Ognl@isNotEmpty(name)">
       NAME=#{name}
    </if>
    <if test="@Ognl@isNotEmpty(id)">
      and ID != #{id}
    </if>
  </select>


  <select id="findList" resultMap="supplierTypeResp" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from hsh_supplier_type
    <where>
      1=1
      <if test="@Ognl@isNotEmpty(status)">
        AND STATUS = #{status}
      </if>
    </where>
  </select>

  <select id="findPage" resultMap="supplierTypeResp" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from hsh_supplier_type
    <where>
      <if test="@Ognl@isNotEmpty(id)">
        ID = #{id}
      </if>
      <if test="@Ognl@isNotEmpty(name)">
        and NAME LIKE '%${name}%'
      </if>
      <if test="@Ognl@isNotEmpty(status)">
        and STATUS = #{status}
      </if>
    </where>
  </select>

  <insert id="insert" parameterType="com.yunchao.hsh.model.SupplierType" >
    insert into hsh_supplier_type (
          ID,NAME,STATUS,SORT)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
              #{status,jdbcType=INTEGER},#{sort,jdbcType=INTEGER}
      )
  </insert>


  <update id="update" parameterType="com.yunchao.hsh.model.SupplierType" >
    update hsh_supplier_type
    set NAME = #{name,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=INTEGER},
        SORT = #{sort,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateStatus"  parameterType="com.yunchao.hsh.model.SupplierType" >
    update hsh_supplier_type set
        STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>